<!-- The Modal -->
<div class="modal" id="consistency">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <form action="/overview/forms/consistency/"
              method="post"
              id="consistency_form">
            {% csrf_token %}
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Consistency</h4>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ form.library_name }}
                    {{ form.session_key }}
                    <div class="form-group">
                        {{ form.consistency.errors }}
                        <label for="{{ form.consistency.id_for_label }}">
                            Please provide feedback on the consistency
                        </label>
                        {{ form.consistency }}
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" form="consistency_form"
                            value="Submit"
                            class="btn-primary is-success is-fullwidth is-medium mt-5"
                            data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>