<div class="modal" id="demographics">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <form novalidate action="/overview/forms/demographics/"
              method="post"
              id="demographic_form">
            {% csrf_token %}
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Demographics</h4>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ demographics.non_field_errors }}
                    {{ demographics.library_name }}
                    {{ demographics.session_key }}
                    <div class="form-group">
                        {{ demographics.used_before.errors }}
                        <label for="{{ demographics.used_before.id_for_label }}">Please state whether you have used this library before or not</label>
                        {{ demographics.used_before }}
                    </div>
                    <div class="form-group">
                        {{ demographics.years_experience.errors }}
                        <label for="{{ demographics.years_experience.id_for_label }}">How many years of development experience do you have?</label>
                        {{ demographics.years_experience }}
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" form="demographic_form" value="Submit"
                            class="btn-primary is-success is-fullwidth is-medium mt-5"
                            data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>