<form action="/overview/forms/code_examples/"
      method="post"
      id="code_examples_form"
      class="form"
      style="display: none">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Code examples</h4>
        <button type="button" class="btn-close"
                onclick="hideForm('#code_examples_form', false)"></button>
    </div>
    {{ form.library_name }}
    {{ form.session_key }}
    <div class="form-group col-md-8">
        {{ form.code_examples_methods.errors }}
        <label for="{{ form.code_examples_methods.id_for_label }}">
            Please provide feedback on the method code examples
        </label>
        {{ form.code_examples_methods }}
    </div>
    <div class="form-group col-md-8">
        {{ form.code_examples_classes.errors }}
        <label for="{{ form.code_examples_classes.id_for_label }}">
            Please provide feedback on the classes code examples
        </label>
        {{ form.code_examples_classes }}
    </div>
    <div class="col-md-8" style="text-align: right;">
        <button type="submit" form="code_examples_form"
                value="Submit"
                class="btn btn-primary is-success is-fullwidth is-medium"
                onclick="hideForm('#code_examples_form', true)">
            Submit
        </button>

    </div>
</form>