{% load questions %}

<form action="/overview/forms/general/"
      method="post"
      id="general_feedback_form"
      class="form"
      style="display: none;">
    {% csrf_token %}
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">General Feedback</h4>
            <button type="button" class="btn-close"
                    onclick="hideForm('#general_feedback_form', false)"></button>
        </div>
        {{ form.library_name }}
        {{ form.session_key }}
        <div class="form-group col">
            <label class="question" for="{{ form.usefulness.id_for_label }}">
                {% general_useful %}
            </label>
            {{ form.usefulness }}
        </div>
        <div class="form-group col">
            <label class="question" for="{{ form.would_recommend.id_for_label }}">
                {% would_recommend %}
            </label>
            {{ form.would_recommend }}
        </div>
        <div class="form-group col">
            <label class="question" for="{{ form.general_feedback.id_for_label }}">
                {% additional_feedback %}
            </label>
            {{ form.general_feedback }}
        </div>
        <div class="col" style="text-align: right;padding: .75rem">
            <button type="submit" form="general_feedback_form"
                    value="Submit"
                    class="btn btn-primary is-success is-fullwidth is-medium"
                    onclick="hideForm('#general_feedback_form', true)">
                Submit
            </button>
        </div>
    </div>

</form>
