{% load questions %}

<form action="/overview/forms/general_rating/"
      method="post"
      id="general_rating_form"
      class="form"
      style="display: block">
    {% csrf_token %}
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Star rating at top</h4>
            <button type="button" class="btn-close"
                    onclick="hideForm('#general_rating_form', false)"></button>
        </div>
        {{ form.library_name }}
        {{ form.session_key }}
        <div class="form-group col-md-9">
                <label class="question" for="{{ form.general_rating.id_for_label }}">
                    {% if familiar and familiar == True %}
                        {% general_rating_familiar %}
                    {% else %}
                        {% general_rating_not_familiar %}
                    {% endif %}
                </label>
            {% for choice in form.general_rating %}
                {{ choice }}
            {% endfor %}
        </div>
{#        <div class="col-md-9" style="text-align: right;padding: .75rem">#}
{#            <button type="submit" form="general_rating_form"#}
{#                    value="Submit"#}
{#                    class="btn btn-primary is-success is-fullwidth is-medium"#}
{#                    onclick="hideForm('#general_rating_form', true)">#}
{#                Submit#}
{#            </button>#}
{#        </div>#}
    </div>
</form>
