<!-- The Modal -->
<div class="modal" id="general_rating">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <form action="/overview/forms/general_rating/"
              method="post"
              id="general_rating_form">
            {% csrf_token %}
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">General Rating</h4>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ form.library_name }}
                    {{ form.session_key }}
                    <div class="form-group">
                        {{ form.general_rating.errors }}
                        <label for="{{ form.general_rating.id_for_label }}">
                            Please provide feedback on the General Rating
                        </label>
                        {{ form.general_rating }}
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" form="general_rating_form"
                            value="Submit"
                            class="btn-primary is-success is-fullwidth is-medium mt-5"
                            data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>