<form action="/overview/forms/method_examples/"
      method="post"
      id="method_examples_form"
      class="form"
      style="display: none">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Method code examples</h4>
        <button type="button" class="btn-close"
                onclick="hideForm('#method_examples_form', false)"></button>
    </div>
    {{ form.library_name }}
    {{ form.session_key }}
    <div class="form-group col-md-9">
        {% if familiar == False %}
            <label for="{{ form.code_examples_methods.id_for_label }}">
                How useful is knowing the percentage of methods with a code
                example in the documentation to you?
            </label>
        {% else %}
            <label for="{{ form.code_examples_methods.id_for_label }}">
                How much does the percentage of methods with code examples match
                your intuition of methods with code examples in the
                documentation?
            </label>
        {% endif %}
        {% for choice in form.code_examples_methods %}
            {{ choice }}
        {% endfor %}
    </div>
    <div class="col-md-9" style="text-align: right;">
        <button type="submit" form="code_examples_form"
                value="Submit"
                class="btn btn-primary is-success is-fullwidth is-medium"
                onclick="hideForm('#method_examples_form', true)">
            Submit
        </button>

    </div>
</form>