<form action="/overview/forms/navigation/"
      method="post"
      id="navigation_form"
      class="form"
      style="display: none">
    {% csrf_token %}

    <div class="modal-header">
        <h4 class="modal-title">Navigability</h4>
        <button type="button" class="btn-close"
                onclick="hideForm('#navigation_form', false)"></button>
    </div>

    {{ form.library_name }}
    {{ form.session_key }}
    <div class="form-group col-md-9">
        {% if familiar == False %}
            <label for="{{ form.navigability.id_for_label }}">
                How useful is having an indicator for the navigability of the
                documentation to you?
            </label>
        {% else %}
            <label for="{{ form.navigability.id_for_label }}">
                How much does the rating of documentation navigability match
                your intuition of the documentation's navigability?
            </label>
        {% endif %}
        {% for choice in form.navigability %}
            {{ choice }}
        {% endfor %}
    </div>


    <div class="col-md-9" style="text-align: right;">
        <button type="submit" form="navigation_form"
                value="Submit"
                class="btn btn-primary is-success is-fullwidth is-medium"
                onclick="hideForm('#navigation_form', true)">
            Submit
        </button>
    </div>
</form>