<!-- The Modal -->
<div class="modal" id="readability">
    <div class="modal-dialog modal-lg">
        <form action="/overview/forms/readability/"
              method="post"
              id="readability_form">
            {% csrf_token %}
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Readability</h4>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ form.library_name }}
                    {{ form.session_key }}
                    <label for="{{ form.text_readability.id_for_label }}">Please
                        provide feedback on the text readability</label>
                    {{ form.text_readability }}
                    <label for="{{ form.code_readability.id_for_label }}">Please
                        provide feedback on the code readability</label>
                    {{ form.code_readability }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" form="readability_form"
                            value="Submit"
                            class="btn-primary is-success is-fullwidth is-medium mt-5"
                            data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>