{% load overview_extras %}
{% load tooltips %}

<div class="row metrics-row ">
    <div class="col">
        <span data-bs-toggle="tooltip" data-bs-placement="top"
              title="{% consistency_tooltip %}">
{#            <button type="button"#}
{#                    class="btn btn-outline btn-metric"#}
{#                    onclick="showForm('#consistency_form')">#}
                Documentation/Source code similarity
{#            </button>#}
        </span>
    </div>
    <div class="col metrics-child">
        {% if consistency is None %}
            <span data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Source files must be in a 'src' directory or in a directory with the name name as the library.">
            Unable to find source files
            </span>
{#            <div class="modal-body">#}
{#                <div class="spinner-border text-primary"#}
{#                     role="status">#}
{#                    <span class="sr-only"></span>#}
{#                </div>#}
{#            </div>#}
        {% else %}
            <span style="font-size: 0;"
                    {% if not gh_url %}
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="{% consistency_caveat_tooltip %}"
                  class="strikediag"
                    {% endif %}>
            {% with ''|center:consistency as range %}
                {% for _ in range %}
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="black"
                         class="bi bi-star-fill"
                         viewBox="0 0 16 16"
                            {% if gh_url %}
                         style="margin-right: 5px"
                            {% else %}
                         style="margin-right: 5px;opacity: 0.4;text-shadow: 0 1px 0 rgba(0,0,0,.5)"
                            {% endif %}>
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                {% endfor %}
            {% endwith %}
                {% with 5|subtract:consistency as range %}
                    {% for _ in range %}
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             stroke="black"
                             fill="white" class="bi bi-star-fill"
                             viewBox="0 0 16 16"
                                {% if gh_url %}
                             style="margin-right: 5px"
                                {% else %}
                             style="margin-right: 5px;opacity: 0.4"
                                {% endif %}>
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                    {% endfor %}
                {% endwith %}
            </span>
        {% endif %}
    </div>
</div>
