<div class="row">
    <div class="col">
        <span data-bs-toggle="tooltip" data-bs-placement="top"
              title="This percentage indicates how many public API methods contain a code example in the documentation">
            <button type="button" class="btn btn-primary-outline"
                    data-bs-toggle="modal" data-bs-target="
                {% if not have_demographics %}
                    #demographics
                {% else %}
                    #code_examples
                {% endif %}">
                Methods with code examples
            </button>
            {% if not have_demographics %}
                {% include "overview/forms/demographics_form.html" with demographics=demographics %}
            {% else %}
                {% include "overview/forms/examples_form.html" with form=examples %}
            {% endif %}
        </span>
    </div>
    <div class="col metrics-child">
        {{ example_ratios.method_ratio }}
    </div>
</div>
<div class="row">
    <div class="col">
        <span data-bs-toggle="tooltip" data-bs-placement="top"
              title="This percentage indicates how many public API classes contain a code example in the documentation">
                        <button type="button" class="btn btn-primary-outline"
                                data-bs-toggle="modal" data-bs-target="
                {% if not have_demographics %}
                    #demographics
                {% else %}
                    #code_examples
                {% endif %}">
                Classes with code examples
            </button>
            {% if not have_demographics %}
                {% include "overview/forms/demographics_form.html" with demographics=demographics %}
            {% else %}
                {% include "overview/forms/examples_form.html" with form=examples %}
            {% endif %}
        </span>
    </div>
    <div class="col metrics-child">
        {{ example_ratios.class_ratio }}
    </div>
</div>