<div class="row">
    <div class="col-md-8">
        <span data-bs-toggle="tooltip" data-bs-placement="top"
              title="This percentage indicates how many public API methods contain a code example in the documentation">
            <button type="button" class="btn btn-outline"
                    onclick="showForm('#code_examples_form')">
                Methods with code examples
            </button>
        </span>
    </div>
    <div class="col metrics-child">
        {{ example_ratios.method_ratio }}
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <span data-bs-toggle="tooltip" data-bs-placement="top"
              title="This percentage indicates how many public API classes contain a code example in the documentation">
            <button type="button" class="btn btn-outline"
                    onclick="showForm('#code_examples_form')">
                Classes with code examples
            </button>
        </span>
    </div>
    <div class="col metrics-child">
        {{ example_ratios.class_ratio }}
    </div>
</div>
