{% load overview_extras %}
{% load tooltips %}
{% load static %}
<div class="row justify-content-evenly align-items-center">
    <div class="d-flex col-md-2 justify-content-center">
        <button class="btn"
                style="width:75px"
                onclick="location.href = '/docquality'">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="100%"
                 height="auto"
                 fill="currentColor"
                 class="bi bi-arrow-left"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
            </svg>
        </button>
    </div>
    <div class="col-md-3">
        <h2 class="float-end text-center">
            <a href="{{ doc_url }}" target="_blank">
                {{ library_name|capfirst }}
            </a>
            Documentation Quality Evaluation
        </h2>
    </div>

    <div class="col-3" style="width: 260px">
            <span data-bs-toggle="tooltip" data-bs-placement="top"
                  title="{% general_rating_tooltip %}">
{#                <button type="button"#}
{#                        class="btn btn-outline"#}
{#                        style="border-color: forestgreen"#}
{#                        onclick="showForm('#general_rating_form')">#}
                    {% with ''|center:general_rating as range %}
                        {% for _ in range %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="45"
                                 height="45"
                                    {# note the stroke and fill classes missing #}
                                 fill="forestgreen" class="bi bi-star-fill"
                                 viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                            </svg>
                        {% endfor %}
                    {% endwith %}
                    {% with 5|subtract:general_rating as range %}
                        {% for _ in range %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="45"
                                 height="45"
                                    {# note the stroke and fill classes here #}
                                 stroke="forestgreen"
                                 fill="white" class="bi bi-star-fill"
                                 viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                            </svg>
                        {% endfor %}
                    {% endwith %}
{#                </button>#}
            </span>
    </div>
    <div class="d-flex col flex-row align-items-center" style="margin-top: 5px">
        <img class="d-flex mx-auto"
             src="{% static "overview/images/UA_Logo_Green_RGB.png" %}"
             alt="University of Alberta Logo"
             style="min-width: 150px; max-width: 40%"
        />
        <img class="d-flex mx-auto"
             src="{% static "overview/images/Logo_web_color_640.png" %}"
             alt="SMR Logo"
             style="min-width: 150px; max-width: 30%"
        />
    </div>
</div>